*.bak
*.log
*.min.*
*.pid
*.swp
*decrypted*
.DS_Store
._*
.build
.env
.git*
.hg
.install
.lock-wscript
.npmrc
.src
.svn
.vim
.wafpickle-*
CVS
Procfile
README.*
artifacts
bower_components
node_modules
log
logs
tmp
